body {
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    background-color: #e6dac8;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #f9e3b4;
    border: 5px solid #7c5c42;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    color: #6b4a34;
    text-shadow: 2px 2px #f4e6d7;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.item-card {
    width: 120px;
    height: 180px;
    background-color: #f0d89d;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 3px solid #7c5c42;
    transition: transform 0.3s ease-in-out, background-color 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-card:hover {
    background-color: #ebcb88;
    transform: translateY(-5px);
}

.item-card img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    object-fit: contain;
}

.item-card p {
    margin: 0;
    padding: 10px 0;
    font-size: 0.9rem;
}

.form-select, .form-control {
    border: 3px solid #7c5c42;
    background-color: #f5e1b7;
    border-radius: 8px;
    width: auto;
}

button {
    background-color: #f9a825;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 #d18a1e;
}

button:hover {
    background-color: #f78f18;
    transform: translateY(-3px);
}
